* {
  box-sizing: border-box;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#side {
  margin: 0px 15px;
} 

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
			width: 100%;
	}

  #side {
    margin: 0px;
  } 
}

#gameTable {
	width: 70%;
  border-collapse: collapse;
}

#gameTableHead tr{
  border-bottom: 2px solid black;
  box-shadow: 0px 2px 3px grey;
  text-align: left;
}
#gameTableBody tr{
  border-bottom: 1px solid black;
}

#gameTable th {
}

#gameTable th {
  padding: 5px 9px;
}

#gameTable tbody {
  color: #333;
}

.smallerFont {
  font-size: 80%;
}

#gameTable tbody tr:nth-child(even) {
  background-color: #eee;
}

#gameTable tbody tr:hover {
  color: #000;
  background-color: #cce;
}

#side {
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  color: #eee;
  box-shadow: 0px 4px 3px grey;
} 

#side h1 {
  margin: 5px;
  font-size: 1.5em;
}

#side input[type=text] {
	/*height: 15px;*/
}

#side input[type=number] {
	width: 60pt;
  /*height: 15px;*/
}

#inputYearMin, #inputYearMax {
  width: 35pt;
}

#inputSearchWords {
  width: 90%;
}

#inputSubmit {
  margin-top: 10px;
}

.sideForm {
  margin: 5px;
  padding: 5px;
}

#searchForm {
  border-bottom: 1px solid #eee;
  line-height: 20px;
}

#searchForm input {
  margin: 4px;
}

.noUi-horizontal {
  height: 8px;
}
.noUi-horizontal .noUi-handle {
  width: 17px;
  height: 15px;
  left: -8px;
  top: -4px;
}
.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

#sliderWeight, #sliderRating {
  display: inline-block;
  width: 100px;
  margin: 0px 5px;
}

#footnote {
  display: none;
}

.sourceCol {
}

.collsname {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #bbe;
  font-size: 80%;
  padding: 2px;
  margin: 0px 1px;
  vertical-align: middle;
  font-family: monospace;
}

.collsname a{
  color: #eee;
  font-weight: bold;
  text-decoration: none;
}
