#gameTable {
	width: 80%;
  border-collapse: collapse;
}

#gameTableHead tr{
  border-bottom: 2px solid black;
  box-shadow: 0px 2px 3px grey;
}
#gameTableBody tr{
  border-bottom: 1px solid black;
}

#gameTable th {
}

#gameTable th {
  padding: 5px 9px;
}

#gameTable tbody {
  color: #333;
}

.smallerFont {
  font-size: 80%;
}

#gameTable tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

#gameTable tbody tr:hover {
  color: #000;
  background-color: #eef;
}

#side {
  display: inline-block;
  float: left;
  margin: 0px 15px;
  padding: 10px;
  background-color: #555;
  color: #eee;
} 

#side h1 {
  margin: 5px;
  font-size: 1.5em;
}

#side input[type=text] {
  width: 25pt;
}

#side input[type=number] {
  width: 30pt;
}

#inputSubmit {
  margin-top: 10px;
}

.sideForm {
  margin: 5px;
  padding: 5px;
}

#searchForm {
  border-bottom: 1px solid #eee;
}

#searchForm input {
  margin: 4px;
}

.noUi-horizontal {
  height: 8px;
}
.noUi-horizontal .noUi-handle {
  width: 17px;
  height: 15px;
  left: -8px;
  top: -4px;
}
.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

#soft {
  display: inline-block;
  width: 100px;
  margin: 0px 5px;
}

#footnote {
  display: none;
}

.sourceCol {
}

.collsname {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #bbe;
  font-size: 60%;
  padding: 2px;
  margin: 0px 1px;
  vertical-align: middle;
}

.collsname a{
  color: #eee;
  font-weight: bold;
  text-decoration: none;
}
