#gameTable {
  border-collapse: collapse;
}

#gameTable tr{
  border-bottom: 1px solid black;
}

#gameTable th {
  background-color: #CB3A00;
  color: white;
}

#gameTable th {
  padding: 5px 9px;
}

#gameTable tr:nth-child(even) {
  background-color: #f6f6f6;
}

#gameTable tr:hover {
  background-color: #F8D9CC;
}

#side {
  display: inline-block;
  float: left;
  margin: 5px;
  padding: 0px;
  border-right: 2px solid #ddd;
}

#side h1 {
  margin: 5px;
  font-size: 1.5em;
}

#side input[type=text] {
  width: 25pt;
}

#side input[type=number] {
  width: 30pt;
}

#inputSubmit {
  margin-top: 10px;
}

.sideForm {
  margin: 5px;
  padding: 5px;
}

#searchForm {
  border-bottom: 1px solid #eee;
}

#searchForm input {
  margin: 4px;
}

.noUi-horizontal {
  height: 8px;
}
.noUi-horizontal .noUi-handle {
  width: 17px;
  height: 15px;
  left: -8px;
  top: -4px;
}
.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

#soft {
  display: inline-block;
  width: 100px;
  margin: 0px 5px;
}

#footnote {
  display: none;
}

.sourceCol {
}

.collsname {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #bbe;
  font-size: 60%;
  padding: 2px;
  margin: 0px 1px;
  vertical-align: middle;

.collsname a:link{
  text-decoration: none;
}
